
.home-container.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto; /* Añade esta línea */
}

.carousel .carousel-image {
    width: 100%;
    height: 500px; /* Ajusta este valor según tus necesidades */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel .d-block {
  width: 100%;
  height: 800px; /* Ajusta este valor según tus necesidades */
  object-fit: cover;
  box-sizing: border-box;
}
.title-container, .carousel {
    color: blue; 
    font-weight: bold; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    color: black;
    font-weight: bold;
}

