.container {
    display: flex;
    flex-direction: column; /* Apilar elementos verticalmente */
    width: 100%; /* Ocupar todo el ancho */
    margin: 0;
    
  }
  .left-panel {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 0; /* Elimina los márgenes */
    padding: 0; /* Elimina el padding (opcional) */
  }
  
  .menu-container {
    width: 100%; /* El contenedor del menú también ocupa todo el ancho */
  }
  
  .content-container {
    display: flex;
  }
  
  .main-content {
    flex: 2;
  }
  
  .right-panel {
    flex: 1;
    margin-left: 20px;
    position: sticky;
    top: 0;

  }
  
  .instrumento-imagen {
    width: 200px;  /* Ajusta el ancho según sea necesario */
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente */
  }
  .carrito-container {
    position: absolute; /* Posicionamiento absoluto */
    top: 150px; /* Distancia desde la parte superior (ajusta según sea necesario) */
    right: 20px; /* Distancia desde el borde derecho */
    width: 25%; /* Ancho del contenedor del carrito */
    padding: 10px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Borde redondeado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
    z-index: 1000; /* Asegura que esté sobre otros elementos si es necesario */
  }
  
  /* Estilos adicionales para botones dentro del carrito */
  .carrito-container button {
    margin-top: 10px; /* Espacio superior entre botones */
  }

  .instrumentos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filtro-categorias select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }